HOST=0.0.0.0
PORT=1337
APP_KEYS=




HOST=0.0.0.0
PORT=1337
APP_KEYS=0dJqeenlBNoeuAJTyIeSZw==,r9iC7parURQwAumKG/fGsg==,uefCVjcE0Qe/Yr9/m9/o4Q==,mj3ue8B7HM2raUV3ei9SaA==
API_TOKEN_SALT=gGSqWczPxeZfxkp5WfShPA==
ADMIN_JWT_SECRET=yw4e4fVhryMmSWrGXiARIw==
JWT_SECRET=v+VRhxwCPVcDtK5ge+9CLA==
SENDGRID_API_KEY=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

MAILGUN_API_KEY=a14a83a610de6cfa9fcc1243c4f366ac-07e2c238-e93397e8
MAILGUN_DOMAIN=sandbox92eaa6eab7714a27b57b272d80df5042.mailgun.org

INSTAGRAM_APP_CLIENT_SECRET=8eeaa0853f63d81dcfb7fd8055f66165
INSTAGRAM_APP_CLIENT_ID=5691780170831968